<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="restPrintMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key>
            <value>/printng/render.{ext}</value>
          </key>
          <value>printFinderFromRequestBody</value>
        </entry>
        <entry>
          <key>
            <value>/printng/freemarker/{template}.{ext}</value>
          </key>
          <value>printFinderFromFreemarkerTemplate</value>
        </entry>
        <entry>
          <key>
            <value>/printng/freemarker/{template}</value>
          </key>
          <value>printFreemarkerTemplateFinder</value>
        </entry>
      </map>
    </property>
  </bean>
  
  <!--
  Provide a public endpoint to serve printing output from. Output files are
  generated using a random UUID and cleaned out periodically.
  
  Ideally this mapping (which must correspond to the actual file paths in the
  datadir would not have to be hard-coded in both places (GeoserverSupport, too)
  -->
  <bean id="printngFilePublisherMapping"
    class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
     <property name="alwaysUseFullPath" value="true"/>
     <property name="mappings">
       <props>
        <prop key="/printng/output/**">filePublisher</prop>
       </props>
     </property>
  </bean>

  <bean id="printFinderFromRequestBody" class="org.geoserver.printng.restlet.PrintFinder">
    <constructor-arg index="0">
      <ref bean="printngReaderRequestBody" />
    </constructor-arg>
  </bean>

  <bean id="printFinderFromFreemarkerTemplate" class="org.geoserver.printng.restlet.PrintFinder">
    <constructor-arg index="0">
      <ref bean="printngReaderFreemarkerTemplate" />
    </constructor-arg>
  </bean>

  <bean id="printngReaderRequestBody" class="org.geoserver.printng.spi.RequestBodyReaderSource" />
  <bean id="printngReaderFreemarkerTemplate" class="org.geoserver.printng.spi.FreemarkerReaderSource" />

  <bean id="printFreemarkerTemplateFinder"
    class="org.geoserver.printng.restlet.FreemarkerTemplateFinder" />

</beans>
