<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
    default-autowire="byName">

    <bean id="monitorGeoIPPostProcessor" class="org.geoserver.monitor.GeoIPPostProcessor">
        <constructor-arg ref="resourceLoader" index="0" />
    </bean>

    <bean id="mapmeterTransporterPostProcessor" class="org.geoserver.monitor.MessageTransportPostProcessor">
      <constructor-arg ref="mapmeterMonitorTransport" index="0"/>
      <constructor-arg ref="mapmeterRequestDataFactory" index="1"/>
    </bean>

    <bean id="mapmeterMonitorTransport" class="org.opengeo.mapmeter.monitor.transport.QueuedMessageTransport">
      <constructor-arg ref="mapmeterMonitorHttpTransport" index="0"/>
      <!-- Seconds delay between transports -->
      <constructor-arg value="3" index="1"/>
    </bean>

    <bean id="mapmeterMonitorHttpTransport" class="org.opengeo.mapmeter.monitor.transport.HttpMessageTransport" >
      <constructor-arg ref="mapmeterMessageHttpTransportConfig" index="0" />
    </bean>

    <bean id="mapmeterMessageHttpTransportConfig" class="org.opengeo.mapmeter.monitor.config.MessageTransportConfigProperties">
      <constructor-arg value="monitoring" index="0"/>
      <constructor-arg value="controller.properties" index="1"/>
      <constructor-arg value="https://app.mapmeter.com/controller/v1/message/store" index="2"/>
      <constructor-arg value="https://app.mapmeter.com/controller/v1/message/check" index="3"/>
      <constructor-arg value="https://app.mapmeter.com/controller/v1/server" index="4"/>
      <constructor-arg ref="resourceLoader" index="5"/>
    </bean>

    <bean id="mapmeterRequestDataMapping" class="java.util.concurrent.ConcurrentHashMap"></bean>

    <bean id="mapmeterGwcStatistician" class="org.geoserver.monitor.gwc.GwcStatistician"></bean>

    <bean id="mapmeterMonitorOwsCallback" class="org.geoserver.monitor.ows.MonitorMapmeterCallback">
      <constructor-arg ref="monitor" index="0" />
      <constructor-arg ref="mapmeterRequestDataMapping" index="1" />
      <constructor-arg ref="mapmeterGwcStatistician" index="2" />
    </bean>

    <bean id="mapmeterRequestDataFactory" class="org.opengeo.mapmeter.monitor.MapmeterRequestDataFactory">
      <constructor-arg ref="mapmeterJmxSystemMonitor" index="0"/>
      <constructor-arg ref="mapmeterRequestDataMapping" index="1"/>
    </bean>

    <bean id="mapmeterJmxSystemMonitor" class="org.opengeo.mapmeter.monitor.JmxSystemMonitor" />

    <bean id="mapmeterConnectionChecker" class="org.opengeo.mapmeter.monitor.check.HttpConnectionChecker">
      <constructor-arg ref="mapmeterMessageHttpTransportConfig" index="0" />
      <!-- Connection timeout in milliseconds -->
      <constructor-arg value="30000" index="1" />
    </bean>

    <bean id="mapmeterSystemDataSupplier" class="org.opengeo.mapmeter.monitor.system.SystemDataSupplier">
      <constructor-arg ref="mapmeterMessageHttpTransportConfig" index="0"></constructor-arg>
      <constructor-arg ref="manifestLoader" index="1"></constructor-arg>
    </bean>

    <bean id="mapmeterSystemDataTransport" class="org.opengeo.mapmeter.monitor.system.SystemDataTransport">
      <constructor-arg ref="mapmeterSystemDataSerializer" index="0"></constructor-arg>
      <constructor-arg ref="mapmeterMessageHttpTransportConfig" index="1"></constructor-arg>
    </bean>

    <bean id="mapmeterSystemDataSerializer" class="org.opengeo.mapmeter.monitor.system.SystemDataSerializer">
    </bean>

    <bean id="mapmeterInitializer" class="org.opengeo.mapmeter.monitor.system.MapmeterInitializer">
      <constructor-arg ref="mapmeterSystemDataSupplier" index="0"></constructor-arg>
      <constructor-arg ref="mapmeterSystemDataTransport" index="1"></constructor-arg>
    </bean>

    <bean class="org.geoserver.web.MenuPageInfo" id="mapmeterMenuPageLink">
    <property name="id" value="mapmeterMenuPageId"/>
    <property name="titleKey" value="MapmeterPage.title"/>
    <property name="descriptionKey" value="MapmeterPage.description"/>
    <property name="componentClass" value="org.geoserver.monitor.web.MapmeterPage"/>
<!--     <property name="icon" value="imgs/some-image.png"/> -->
    <property name="category" ref="monitorCategory"/>
    <property name="order" value="50"/>
</bean>

</beans>
