<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
    default-autowire="byName">

    <bean id="monitorGeoIPPostProcessor" class="org.geoserver.monitor.GeoIPPostProcessor">
        <constructor-arg ref="resourceLoader" index="0" />
    </bean>

    <bean id="consoleTransporterPostProcessor" class="org.geoserver.monitor.MessageTransportPostProcessor">
      <constructor-arg ref="consoleMonitorTransport" index="0"/>
      <constructor-arg ref="consoleRequestDataFactory" index="1"/>
    </bean>

    <bean id="consoleMonitorTransport" class="org.opengeo.console.monitor.transport.QueuedMessageTransport">
      <constructor-arg ref="consoleMonitorHttpTransport" index="0"/>
      <!-- Seconds delay between transports -->
      <constructor-arg value="3" index="1"/>
    </bean>

    <bean id="consoleMonitorHttpTransport" class="org.opengeo.console.monitor.transport.HttpMessageTransport" >
      <constructor-arg ref="consoleMessageHttpTransportConfig" index="0" />
    </bean>

    <bean id="consoleMessageHttpTransportConfig" class="org.opengeo.console.monitor.config.MessageTransportConfigProperties">
      <constructor-arg value="monitoring" index="0"/>
      <constructor-arg value="controller.properties" index="1"/>
      <constructor-arg value="https://app.mapmeter.com/controller/v1/message/store" index="2"/>
      <constructor-arg value="https://app.mapmeter.com/controller/v1/message/check" index="3"/>
      <constructor-arg ref="resourceLoader" index="4"/>
    </bean>

    <bean id="consoleRequestDataMapping" class="java.util.concurrent.ConcurrentHashMap"></bean>

    <bean id="consoleGwcStatistician" class="org.geoserver.monitor.gwc.GwcStatistician"></bean>

    <bean id="consoleMonitorOwsCallback" class="org.geoserver.monitor.ows.MonitorConsoleCallback">
      <constructor-arg ref="monitor" index="0" />
      <constructor-arg ref="consoleRequestDataMapping" index="1" />
      <constructor-arg ref="consoleGwcStatistician" index="2" />
    </bean>

    <bean id="consoleRequestDataFactory" class="org.opengeo.console.monitor.ConsoleRequestDataFactory">
      <constructor-arg ref="consoleJmxSystemMonitor" index="0"/>
      <constructor-arg ref="consoleRequestDataMapping" index="1"/>
    </bean>

    <bean id="consoleJmxSystemMonitor" class="org.opengeo.console.monitor.JmxSystemMonitor" />

    <bean id="consoleConnectionChecker" class="org.opengeo.console.monitor.check.HttpConnectionChecker">
      <constructor-arg ref="consoleMessageHttpTransportConfig" index="0" />
      <!-- Connection timeout in milliseconds -->
      <constructor-arg value="30000" index="1" />
    </bean>

    <bean class="org.geoserver.web.MenuPageInfo" id="consoleMenuPageLink">
    <property name="id" value="consoleMenuPageId"/>
    <property name="titleKey" value="ConsolePage.title"/>
    <property name="descriptionKey" value="ConsolePage.description"/>
    <property name="componentClass" value="org.geoserver.monitor.web.ConsolePage"/>
<!--     <property name="icon" value="imgs/some-image.png"/> -->
    <property name="category" ref="monitorCategory"/>
    <property name="order" value="50"/>
</bean>

</beans>
