<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:metrics="http://www.yammer.com/schema/metrics"
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
     http://www.yammer.com/schema/metrics http://www.yammer.com/schema/metrics/metrics.xsd">

    <bean id="metricsWmsCallback" class="org.geoserver.metrics.wms.WMSCallback"/>

</beans>
