<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
    default-autowire="byName">

    <bean id="monitorGeoIPPostProcessor" class="org.geoserver.monitor.GeoIPPostProcessor">
        <constructor-arg ref="resourceLoader" index="0" />
    </bean>

    <bean id="consoleTransporterPostProcessor" class="org.geoserver.monitor.MessageTransportPostProcessor">
      <constructor-arg ref="consoleMonitorTransport" index="0"/>
      <constructor-arg ref="consoleRequestDataFactory" index="1"/>
    </bean>

    <bean id="consoleMonitorTransport" class="org.opengeo.console.monitor.transport.QueuedMessageTransport">
      <constructor-arg ref="consoleMonitorHttpTransport" index="0"/>
      <!-- Seconds delay between transports -->
      <constructor-arg value="3" index="1"/>
    </bean>

    <bean id="consoleMonitorHttpTransport" class="org.opengeo.console.monitor.transport.HttpMessageTransport" >
      <constructor-arg ref="consoleMessageHttpTransportConfig" index="0" />
    </bean>

    <bean id="consoleMessageHttpTransportConfig" class="org.opengeo.console.monitor.transport.ConsoleMessageTransportConfigProperties">
      <constructor-arg value="monitoring" index="0"/>
      <constructor-arg value="controller.properties" index="1"/>
      <constructor-arg value="https://app.mapmeter.com/controller/v1/message/store" index="2"/>
      <constructor-arg ref="resourceLoader" index="3"/>
    </bean>

    <bean id="consoleRequestDataMapping" class="java.util.concurrent.ConcurrentHashMap"></bean>

    <bean id="consoleGwcStatistician" class="org.geoserver.monitor.gwc.GwcStatistician"></bean>

    <bean id="consoleMonitorOwsCallback" class="org.geoserver.monitor.ows.MonitorConsoleCallback">
      <constructor-arg ref="monitor" index="0" />
      <constructor-arg ref="consoleRequestDataMapping" index="1" />
      <constructor-arg ref="consoleGwcStatistician" index="2" />
    </bean>

    <bean id="consoleRequestDataFactory" class="org.opengeo.console.monitor.ConsoleRequestDataFactory">
      <constructor-arg ref="consoleJmxSystemMonitor" index="0"/>
      <constructor-arg ref="consoleRequestDataMapping" index="1"/>
    </bean>

    <bean id="consoleJmxSystemMonitor" class="org.opengeo.console.monitor.JmxSystemMonitor" />

    <bean class="org.geoserver.web.MenuPageInfo" id="myPageLink">
    <!-- An internal identifier for the link component -->
    <property name="id" value="ogconsolepage"/>
    <!-- The i18n key for the link title -->
    <property name="titleKey" value="ConsolePage.title"/>
    <!-- The i18n key for a longer description of the page -->
    <property name="descriptionKey" value="ConsolePage.description"/>
    <!-- The fully qualified name of the page class -->
    <property name="componentClass" value="org.geoserver.monitor.web.ConsolePage"/>
    <!-- Optional, an icon to display alongside the link. -->
<!--     <property name="icon" value="imgs/some-image.png"/> -->
    <!-- Optional, the category in which the link should be grouped. -->
<!--     <property name="category" ref="someCategory"/> -->
    <!-- Optional, a key used to order the links in the menu. -->
    <property name="order" value="100"/>
</bean>

</beans>
