<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="geogitDispatcherMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true" />
    <property name="mappings">
      <props>
        <prop key="/geogit">geogitDispatcher</prop>
        <prop key="/geogit/**">geogitDispatcher</prop>
      </props>
    </property>
  </bean>

  <bean id="geogitDispatcher" class="org.geogit.rest.dispatch.GeogitDispatcher" >
    <constructor-arg ref="catalog"/>
  </bean>

</beans>
