.mapmeter-container form {
  margin: 2em 0;
}

.mapmeter-container .apikey-field {
  width: 350px;
}

.mapmeter-container .invalid-credentials {
  color: red;
  font-weight: bold;
}

#mapmeter-chart {
  width: 500px;
  height: 150px;
  clear: both;
  margin: 2em 0;
}

path.line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}
path.area {
  fill: #e7e7e7;
}
.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: #fff;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  stroke: #999;
  fill: none;
}
.x.axis text,
.y.axis text {
  font-size: 11px;
  font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.x.axis text {
  fill: #888;
}
.y.axis text {
  fill: #555;
}
.y.axis line,
.y.axis path {
  fill: none;
  stroke: #666;
}

