<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!-- 
   core importer setup
    -->
  
  <bean id="importer" class="org.opengeo.data.importer.Importer">
    <constructor-arg ref="catalog"/>
  </bean>
  
  <!-- 
    wicket ui stuff
   -->
  <bean id="importDataMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="importData" />
    <property name="category" ref="dataCategory"/>
    <property name="titleKey" value="ImportDataPage.menu" />
    <property name="descriptionKey" value="ImportDataPage.description" />
    <property name="componentClass" value="org.opengeo.data.importer.web.ImportDataPage" />
    <property name="order" value="6"/>
    <property name="icon" value="map_add.png"/>
  </bean>
  <!--
   rest bindings
    -->
  <bean id="importResource" class="org.opengeo.data.importer.rest.ImportResource">
    <constructor-arg ref="importer"/>
  </bean>
  <bean id="importContextFinder" class="org.geoserver.rest.BeanResourceFinder">
      <constructor-arg value="importResource"/>
  </bean>

  <bean id="importTaskResource" class="org.opengeo.data.importer.rest.TaskResource">
    <constructor-arg ref="importer"/>
  </bean>
  <bean id="importTaskFinder" class="org.geoserver.rest.BeanResourceFinder">
      <constructor-arg value="importTaskResource"/>
  </bean>
  
  <bean id="importItemResource" class="org.opengeo.data.importer.rest.ItemResource">
    <constructor-arg ref="importer"/>
  </bean>
  <bean id="importItemFinder" class="org.geoserver.rest.BeanResourceFinder">
      <constructor-arg value="importItemResource"/>
  </bean>

  <bean id="importDataResource" class="org.opengeo.data.importer.rest.DataResource">
    <constructor-arg ref="importer"/>
  </bean>
  <bean id="importDataFinder" class="org.geoserver.rest.BeanResourceFinder">
      <constructor-arg value="importDataResource"/>
  </bean>

  <bean id="dirResource" class="org.opengeo.data.importer.rest.DirectoryResource">
    <constructor-arg ref="importer"/>
  </bean>
  <bean id="dirFinder" class="org.geoserver.rest.BeanResourceFinder">
      <constructor-arg value="dirResource"/>
  </bean>

  <bean id="importRestMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key>
            <value>/imports</value>
          </key>
          <value>importContextFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}</value>
          </key>
          <value>importContextFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/data</value>
          </key>
          <value>importDataFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/data/files</value>
          </key>
          <value>dirFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/data/files/{file}</value>
          </key>
          <value>dirFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/tasks</value>
          </key>
          <value>importTaskFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/tasks/{task}</value>
          </key>
          <value>importTaskFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/tasks/{task}/items</value>
          </key>
          <value>importItemFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/tasks/{task}/items/{item}</value>
          </key>
          <value>importItemFinder</value>
        </entry>
        <entry>
          <key>
            <value>/imports/{import}/tasks/{task}/items/{item}/progress</value>
          </key>
          <value>importItemFinder</value>
        </entry>
      </map>
    </property>
  </bean>

  <!--  format beans -->
  <bean id="kmlFormat" class="org.opengeo.data.importer.format.KMLFileFormat" />
  <bean id="geoJsonFormat" class="org.opengeo.data.importer.format.GeoJSONFormat" />

</beans>
