<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    
  <bean id="importerMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="importer" />
    <property name="category" ref="dataCategory"/>
    <property name="titleKey" value="StoreChooserPage.menu" />
    <property name="descriptionKey" value="StoreChooserPage.description" />
    <property name="componentClass" value="org.geoserver.web.importer.StoreChooserPage" />
    <property name="order" value="6"/>
    <property name="icon" value="../map_add.png"/>
  </bean>

  <!-- the import thread pool manager -->
  <bean id="importerPool" class="org.geoserver.importer.ImporterThreadManager" />
</beans>