<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="restUploadMapping" class="org.geoserver.rest.RESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key>
            <value>/upload/{token}</value>
          </key>
          <value>uploadRecoveryFinder</value>
        </entry>
        <entry>
          <key>
            <value>/upload</value>
          </key>
          <value>uploadRecoveryFinder</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="resourceUploaderConfigPersister" class="org.geoserver.uploader.UploaderConfigPersister">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="dataDirectory" />
  </bean>

  <bean id="uploadsLifeCycleManager" class="org.geoserver.uploader.UploadLifeCyleManager">
    <constructor-arg ref="dataDirectory" />
  </bean>

  <bean id="uploadRecoveryFinder" class="org.geoserver.uploader.UploadRecoveryFinder">
    <constructor-arg ref="catalog" />
    <constructor-arg ref="uploadsLifeCycleManager" />
    <constructor-arg ref="resourceUploaderConfigPersister" />
  </bean>

  <bean id="periodicPendingUploadsCleanerTask" class="org.geoserver.uploader.PeriodicPendingUploadsCleanerTask">
    <description><![CDATA[
      Runnable that evicts non recovered pending uploads
    ]]></description>
    <constructor-arg ref="uploadsLifeCycleManager" />
    <constructor-arg>
      <description>Seconds between pending upload eviction runs</description>
      <value>600</value>
    </constructor-arg>
  </bean>

  <bean id="uploaderCleanUpExecutor" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
    <description><![CDATA[
      Spring's scheduled task that runs the upload evition runnable periodically
    ]]></description>
    <property name="runnable" ref="periodicPendingUploadsCleanerTask" />
    <property name="period">
      <description>period between repeated task executions (ms)</description>
      <value>30000</value>
    </property>
  </bean>

  <bean id="uploaderCleanUpExecutorService" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
    <property name="continueScheduledExecutionAfterException" value="true" />
    <property name="poolSize" value="1" />
    <property name="waitForTasksToCompleteOnShutdown" value="true" />
    <property name="scheduledExecutorTasks">
      <list>
        <ref bean="uploaderCleanUpExecutor" />
      </list>
    </property>
  </bean>
</beans>